{% extends "base.html" %}
{% block weekday_selected %}id="selected"{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});

    (function($) {
        $(document).ready(function(){
            var loading = $('#loading');
            $('#user_id').change(function(){
                var selected_user = $("#user_id").val();
                var chart_div = $('#chart_div');
                var error_div = $('#no_data');
                if(selected_user) {
                    loading.show();
                    chart_div.hide();
                    error_div.hide();
                    $.getJSON("/api/v1/presence_weekday/"+selected_user, function(result) {
                        if (result.length === 0){
                            loading.hide();
                            error_div.show();
                            return;
                        }
                        var data = google.visualization.arrayToDataTable(result);
                        var options = {};
                        chart_div.show();
                        loading.hide();
                        var chart = new google.visualization.PieChart(chart_div[0]);
                        chart.draw(data, options);
                    });
                }
            });
        });
    })(jQuery);
</script>
{% endblock %}

{% block content %}
<h2>Presence by weekday</h2>
<p id="user_data"></p>
<p>
    <select id="user_id" style="display: none">
        <option value="">--</option>
    </select>
<div id="chart_div" style="display: none">
</div>
<div id="loading">
    <img src="/static/img/loading.gif" />
</div>
<div id="no_data">
    <p>There's no data to display</p>
</div>
</p>
{% endblock %}